.idea/
bytes/
ecolls-client1/
ecolls-s/
ecolls-j/.idea/
ecolls-j/target/
/*/target/
*/*iml
/target/
*.xml.versionsBavkup
*/*.xml.versionsBavkup
*/pom.xml.versionsBackup
*/*/pom.xml.versionsBackup
*/*.iml
gui-swing/gui-swing-all/gui-swing-all.iml
*/*.iml
*/*/*.iml
*/target
*/*/target
*/*/*/target
